---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Connect with secure, high-impact IT opportunities across defense, intelligence, and federal contracting sectors." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
